In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import math 
import os

### This is the script for saving all coordinates as my own database. By doing so, `opencage.geocoder` does not need to go through all regions everytime (as most regions are already have coordinates in this database).

In [102]:
# Import coordinate database
GeoDB = pd.read_csv('./coordinatesDB.csv')
GeoDB.head()

  Province/State Country/Region        lat         lon
0          Hubei          China  31.151725  112.878322
1      Guangdong          China  23.135769  113.198269
2       Zhejiang          China  29.000000  120.000000
3       Shandong          China  36.000000  119.000000
4          Henan          China  34.000000  114.000000

In [87]:
# Import xlsx file and store each sheet in to a df list
xl_file = pd.ExcelFile('./data.xls',)

dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

# Data from each sheet can be accessed via key
keyList = list(dfs.keys())

# Data cleansing
for key, df in dfs.items():
    dfs[key].loc[:,'Confirmed'].fillna(value=0, inplace=True)
    dfs[key].loc[:,'Deaths'].fillna(value=0, inplace=True)
    dfs[key].loc[:,'Recovered'].fillna(value=0, inplace=True)
    dfs[key]=dfs[key].astype({'Confirmed':'int64', 'Deaths':'int64', 'Recovered':'int64'})
    # Change as China for coordinate search
    dfs[key]=dfs[key].replace({'Country/Region':'Mainland China'}, 'China')
    # Add a zero to the date so can be convert by datetime.strptime as 0-padded date
    dfs[key]['Last Update'] = '0' + dfs[key]['Last Update']
    # Convert time as Australian eastern daylight time
    dfs[key]['Date_last_updated_AEDT'] = [datetime.strptime(d, '%m/%d/%Y %H:%M') for d in dfs[key]['Last Update']]
    dfs[key]['Date_last_updated_AEDT'] = dfs[key]['Date_last_updated_AEDT'] + timedelta(hours=16)

# Save the latest data into targetData
targetData = dfs[keyList[0]]
targetData

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date_last_updated_AEDT
0,Hubei,China,03/07/2020 22:00,67707,2986,45011,2020-03-08 14:00:00
1,Guangdong,China,03/07/2020 22:00,1352,7,1250,2020-03-08 14:00:00
2,Zhejiang,China,03/07/2020 22:00,1215,1,1157,2020-03-08 14:00:00
3,Shandong,China,03/07/2020 22:00,758,6,637,2020-03-08 14:00:00
4,Henan,China,03/07/2020 22:00,1272,22,1246,2020-03-08 14:00:00
...,...,...,...,...,...,...,...
170,NaN,Liechtenstein,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00
171,NaN,Moldova,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00
172,NaN,Paraguay,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00
173,NaN,Serbia,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00
174,NaN,Togo,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00

In [88]:
# Assign coordinates to regions from coordinates database
resultData = pd.merge(targetData, GeoDB, how='left', on=['Province/State', 'Country/Region'])
# Find regions do not have coordinates
queryData = resultData.loc[resultData['lat'].isnull()]
queryData = queryData[['Province/State', 'Country/Region']]
queryData

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date_last_updated_AEDT,lat,lon
0,Hubei,China,03/07/2020 22:00,67707,2986,45011,2020-03-08 14:00:00,31.151725,112.878322
1,Guangdong,China,03/07/2020 22:00,1352,7,1250,2020-03-08 14:00:00,23.135769,113.198269
2,Zhejiang,China,03/07/2020 22:00,1215,1,1157,2020-03-08 14:00:00,29.000000,120.000000
3,Shandong,China,03/07/2020 22:00,758,6,637,2020-03-08 14:00:00,36.000000,119.000000
4,Henan,China,03/07/2020 22:00,1272,22,1246,2020-03-08 14:00:00,34.000000,114.000000
...,...,...,...,...,...,...,...,...,...
170,NaN,Liechtenstein,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,47.141631,9.553153
171,NaN,Moldova,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,47.287961,28.567094
172,NaN,Paraguay,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,-23.316593,-58.169344
173,NaN,Serbia,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,44.024323,21.076574
174,NaN,Togo,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,8.780026,1.019976

In [95]:
# Using opencage.geocoder to call coordinates for these regions
# Add coordinates for each area in the list for the latest table sheet
# As there are limit for free account, we only call coordinates for the latest table sheet
from opencage.geocoder import OpenCageGeocode
import time
import random
import progressbar
key = 'b33700b33d0a446aa6e16c0b57fc82d1'  # get api key from:  https://opencagedata.com
geocoder = OpenCageGeocode(key)

list_lat = []   # create empty lists
list_long = []  

for index, row in queryData.iterrows(): # iterate over rows in dataframe

    City = row['Province/State']
    State = row['Country/Region']
    
    # Note that 'nan' is float
    if type(City) is str:
        query = str(City)+','+str(State)
        results = geocoder.geocode(query)   
        lat = results[0]['geometry']['lat']
        long = results[0]['geometry']['lng']

        list_lat.append(lat)
        list_long.append(long)
    else:
        query = str(State)
        results = geocoder.geocode(query)   
        lat = results[0]['geometry']['lat']
        long = results[0]['geometry']['lng']

        list_lat.append(lat)
        list_long.append(long)

# create new columns from lists    
queryData['lat'] = list_lat   
queryData['lon'] = list_long
queryData
print('Coordinate data are generated!')

Coordinate data are generated!

In [97]:
# Add the new coordinates into coordinates database
catList = [GeoDB, queryData]
GeoDB = pd.concat(catList, ignore_index=True)
GeoDB

    Province/State Country/Region        lat         lon
0            Hubei          China  31.151725  112.878322
1        Guangdong          China  23.135769  113.198269
2         Zhejiang          China  29.000000  120.000000
3         Shandong          China  36.000000  119.000000
4            Henan          China  34.000000  114.000000
..             ...            ...        ...         ...
170         Kansas             US  38.273120  -98.582187
171       Virginia             US  37.123224  -78.492772
172       Missouri             US  38.760481  -92.561787
173            NaN  French Guiana   4.003988  -52.999998
174            NaN       Bulgaria  42.607397   25.485662

[175 rows x 4 columns]

In [101]:
# Save the coordinates database
GeoDB.to_csv('./coordinatesDB.csv', index = False)

In [98]:
# Assign coordinates to all regions using the latest coordinates database
finalData = pd.merge(targetData, GeoDB, how='left', on=['Province/State', 'Country/Region'] )
finalData

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date_last_updated_AEDT,lat,lon
0,Hubei,China,03/07/2020 22:00,67707,2986,45011,2020-03-08 14:00:00,31.151725,112.878322
1,Guangdong,China,03/07/2020 22:00,1352,7,1250,2020-03-08 14:00:00,23.135769,113.198269
2,Zhejiang,China,03/07/2020 22:00,1215,1,1157,2020-03-08 14:00:00,29.000000,120.000000
3,Shandong,China,03/07/2020 22:00,758,6,637,2020-03-08 14:00:00,36.000000,119.000000
4,Henan,China,03/07/2020 22:00,1272,22,1246,2020-03-08 14:00:00,34.000000,114.000000
...,...,...,...,...,...,...,...,...,...
170,NaN,Liechtenstein,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,47.141631,9.553153
171,NaN,Moldova,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,47.287961,28.567094
172,NaN,Paraguay,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,-23.316593,-58.169344
173,NaN,Serbia,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,44.024323,21.076574
174,NaN,Togo,03/07/2020 22:00,1,0,0,2020-03-08 14:00:00,8.780026,1.019976

In [99]:
# To check if there is still regions without coordinates (There should not be)
testData = finalData.loc[finalData['lat'].isnull()]
testData

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Date_last_updated_AEDT, lat, lon]
Index: []

In [100]:
# Save the data for heroku app
finalData.to_csv('./{}_data.csv'.format(keyList[0]), index = False)

In [ ]:
# A variable for using in bash 
# Refer to https://stackoverflow.com/questions/19579546/can-i-access-python-variables-within-a-bash-or-script-ipython-notebook-c
fileNmae = keyList[0]

In [ ]:
%%bash -s "$fileNmae"
cp ./$1_data.csv ../../heroku_app/dash_coronavirus_2019/
echo "All files have been transferred to heroku folder.\nYou are now good to update heroku app!"